#container {
  display: flex;
  justify-content: center;
}

p {
  padding: 10px;
  margin: 0;
}

#alertNotOnBand {
  justify-content: center;
  width: 150px;
  height: 35px;
  padding: 10px;
}

#firstClick {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#createShuffleV1, #createShuffleV2 {
  height: 45px;
  padding: 10px;
  margin: 10px;
}

#newShuffle, #runShuffle {
  margin: 10px;
}

#returnV1 {
  display: none;
  flex-direction: column;
  justify-content: center;
}

#returnV2 {
  display: none;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 13px;
}

#onBand {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 250px;
}

.output {
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

.input-container {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.smallButton {
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 12px;
  padding: 2px 9px;
  margin-left: 10px;
}

button {
  background-color: black;
  color: white;
  border: none;
  padding: 5px 15px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  line-height: 30px;
}

button:hover {
  font-weight: bold;
}